.hero .swiper {
  font-size: 4rem;
  font-family: var(--quaternary-font);
  line-height: 1rem;
  text-wrap: nowrap;
  letter-spacing: -5px;
  position: absolute;
  top: 70%;
  z-index: 1;
}

.hero .swiper-up {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 100s linear infinite;
}

.hero .swiper-down {
  position: absolute;
  left: -49%;
  top: 100px;
  animation: slide 100s linear infinite;
  animation-direction: reverse;
}

.hero .shadow-effect {
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
  cursor: default;
  text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5), 0px 0px 0px rgba(0, 0, 255, 0.5);
}

.hero .shadow-effect:hover {
  text-shadow: 8px 8px 0px rgba(255, 0, 0, 0.5), -8px -8px 0px rgba(0, 0, 255, 0.5);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes warpPhoto {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 34% 66% 70%;
  }
  33% {
    border-radius: 75% 25% 32% 68% / 70% 62% 38% 30%;
  }
  66% {
    border-radius: 75% 25% 49% 51% / 49% 35% 65% 51%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 34% 66% 70%;
  }
}

.hero .header {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.hero .header-box {
  backdrop-filter: invert(96%) sepia(7%) saturate(42%) hue-rotate(314deg) brightness(95%) contrast(92%);
  z-index: 10;
  height: 1200px;
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .header-box .about {
  font-size: 6rem;
  font-family: "outfit", sans-serif;
  font-weight: 200;
  color: white;
  line-height: 1rem;
  text-wrap: nowrap;
  letter-spacing: -5px;
  top: 1095px;
  left: -100px;
  position: relative;
  z-index: 1;
}

.hero .header-box button {
  font-size: 2rem;
  font-family: var(--quaternary-font);
  font-weight: 200;
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
  width: 200px;
}

.hero .header-box button:hover {
  background-color: white;
  color: black;
  width: 100%;
}

.hero .photo {
  animation: warpPhoto 20s infinite ease-in-out;
  margin-top: 50px;
  max-width: 40vw;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  filter: grayscale(100%) brightness(60%);
}

.hero .name {
  font-size: 3rem;
  font-family: "outfit", sans-serif;
  color: white;
  line-height: 1rem;
  text-wrap: nowrap;
  letter-spacing: -5px;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.hero .mikolaj {
  letter-spacing: 4px;
  font-weight: 100;
  margin-bottom: 0;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
}

.hero .kondela {
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
}

/* ---------------------------------------------------------- IPHONE RWD ---------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .hero .swiper {
    display: none;
  }

  .hero .header {
    padding: 0 10px;
    justify-content: center;
  }

  .hero .header-box {
    display: none;
  }

  .hero .photo {
    max-width: 90vw;
  }
}

/* ----------------------------------------------------------- IPAD RWD ----------------------------------------------------------- */
@media screen and (max-width: 1194px) and (min-width: 768px) {
  .hero .header-box {
    height: 800px;
    width: 300px;
  }

  .hero .header-box .about {
    top: 695px;
    left: 0;
  }

  .hero .name {
    margin-top: -100px;
    font-size: 2rem;
  }

  .hero .mikolaj {
    letter-spacing: 1px;
  }

  .hero .swiper {
    display: none;
  }

  .hero .header {
    padding: 0 20px;
  }

  .hero .photo {
    max-width: 45vw;
  }
}

/* ------------------------------------------------------------ 2K RWD ------------------------------------------------------------ */
@media screen and (min-width: 1921px) {
  .hero .header-box {
    height: 1400px;
    width: 700px;
    right: 200px;
  }

  .hero .header-box .about {
    top: 1295px;
    left: -200px;
  }

  .hero .name {
    margin-top: 100px;
    font-size: 4rem;
  }
}
