.hero .swiper {
  font-size: 4rem;
  font-family: var(--quaternary-font);
  line-height: 1rem;
  text-wrap: nowrap;
  letter-spacing: -5px;
  position: absolute;
  top: 70%;
  z-index: 1;
}

.hero .swiper-up {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 100s linear infinite;
}

.hero .swiper-down {
  position: absolute;
  left: -49%;
  top: 100px;
  animation: slide 100s linear infinite;
  animation-direction: reverse;
}

.hero .shadow-effect {
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
  cursor: default;
  text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5), 0px 0px 0px rgba(0, 0, 255, 0.5);
}

.hero .shadow-effect:hover {
  text-shadow: 8px 8px 0px rgba(255, 0, 0, 0.5), -8px -8px 0px rgba(0, 0, 255, 0.5);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hero .header-box {
  backdrop-filter: invert(96%) sepia(7%) saturate(42%) hue-rotate(314deg) brightness(95%) contrast(92%);
  z-index: 10;
  height: 1200px;
  width: 500px;
  position: absolute;
  right: 200px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .header-box .about {
  font-size: 6rem;
  font-family: "outfit", sans-serif;
  font-weight: 200;
  color: white;
  line-height: 1rem;
  text-wrap: nowrap;
  letter-spacing: -5px;
  top: 1095px;
  left: -100px;
  position: relative;
  z-index: 1;
}

.hero .header-box button {
  font-size: 2rem;
  font-family: var(--quaternary-font);
  font-weight: 200;
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
  width: 200px;
}

.hero .header-box button:hover {
  background-color: white;
  color: black;
  width: 100%;
}

.hero .name {
  font-size: 3rem;
  font-family: "outfit", sans-serif;
  color: white;
  line-height: 1rem;
  text-wrap: nowrap;
  letter-spacing: -5px;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.hero .mikolaj:hover {
  letter-spacing: 14px;
}

.hero .kondela:hover {
  letter-spacing: 5px;
}

.hero .mikolaj {
  letter-spacing: 4px;
  font-weight: 100;
  margin-bottom: 0;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
}

.hero .kondela {
  transition: 0.5s cubic-bezier(0.17, 0.67, 0, 1.03);
}

/* ---------------------------------------------------------- IPHONE RWD ---------------------------------------------------------- */
@media screen and (max-width: 834px) {
  .hero .swiper {
    display: none;
  }
  .hero .header-box {
    display: none;
  }
}

/* ----------------------------------------------------------- IPAD RWD ----------------------------------------------------------- */
@media screen and (max-width: 1194px) and (min-width: 834px) {
  .hero .header-box {
    height: 1000px;
    width: 300px;
    right: 50px;
  }

  .hero .header-box .about {
    top: 895px;
    left: 0;
  }

  .hero .name {
    margin-top: -100px;
    font-size: 2rem;
  }

  .hero .mikolaj {
    letter-spacing: 1px;
  }

  .hero .swiper {
    display: none;
  }
}

/* ------------------------------------------------------------ 2K RWD ------------------------------------------------------------ */
@media screen and (min-width: 1921px) {
  .hero .header-box {
    height: 1400px;
    width: 700px;
    right: 200px;
  }

  .hero .header-box .about {
    top: 1295px;
    left: -200px;
  }

  .hero .name {
    margin-top: 100px;
    font-size: 4rem;
  }
}
