:root {
  --color-black: #141414;
  --color-darkgray: #666666;
  --color-gray: #818181;
  --color-lightgray: #bfbfbf;
  --color-purple: #502785;
  --color-indygo: #5e4cb2;

  --primary-color: var(--color-purple);
  --secondary-color: var(--color-indygo);

  --primary-text: var(--color-black);

  --primary-font: "aqua", sans-serif; /* Titles */
  --secondary-font: "lobster", sans-serif; /* Decorative */
  --tertiary-font: "poppins", sans-serif; /* Do not use */
  --quaternary-font: "outfit", sans-serif; /* Menu, subtitles */

  --primary-gradient: linear-gradient(90deg, var(--color-purple) 0%, var(--color-indygo) 100%);

  color: var(--primary-text);
  font-family: var(--tertiary-font);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "aqua";
  src: url("./assets/fonts/aqua.ttf") format("truetype");
}

@font-face {
  font-family: "lobster";
  src: url("./assets/fonts/Lobster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "sequel";
  src: url("./assets/fonts/Sequel_Demo.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
